host,identity.apple.com
host-suffix,akadns.net
host-suffix,push.apple.com
host-keyword,apple.com.edgekey.net

ip-cidr,17.249.0.0/16
ip-cidr,17.252.0.0/16
ip-cidr,17.57.144.0/22
ip-cidr,17.188.128.0/18
ip-cidr,17.188.20.0/23