host,identity.apple.com,PROXY
host-suffix,akadns.net,PROXY
host-suffix,push.apple.com,PROXY
host-keyword,apple.com.edgekey.net,PROXY

ip-cidr,17.249.0.0/16,PROXY
ip-cidr,17.252.0.0/16,PROXY
ip-cidr,17.57.144.0/22,PROXY
ip-cidr,17.188.128.0/18,PROXY
ip-cidr,17.188.20.0/23,PROXY

ip6-cidr,2620:149:a44::/48,PROXY
ip6-cidr,2403:300:a42::/48,PROXY
ip6-cidr,2403:300:a51::/48,PROXY
ip6-cidr,2a01:b740:a42::/48,PROXY