#!name = 高德地图
#!desc = 移除广告
#!author = 树先生
#!date = 2026-08-31 10:20

# 阿里平台广告
^http:\/\/amdc\.m\.taobao\.com\/amdc\/mobileDispatch AMapiPhone* url-and-header reject
# 开屏广告
^https:\/\/amap-aos-info-nogw\.amap\.com\/ws\/aos\/alimama\/splash_screen_rt url reject-dict

# 首页搜索框提示
^https:\/\/m5\.amap\.com\/ws\/shield\/scene\/recommend url jsonjq-response-body .data.shadingWords = {}
# 开屏广告
^https:\/\/m5\.amap\.com\/ws\/valueadded\/alimama\/splash_screen\? url jsonjq-response-body .data.ad |= map(.set.setting.display_time = 0 | .creative |= map(.start_time = 3818332800 | .end_time = 3818419199))
# 我的页面精简
^https:\/\/m5\.amap\.com\/ws\/shield\/dsp\/profile\/index\/nodefaasv3\? url jsonjq-response-body .data.cardList |= map(select(.dataKey == (["MineNewFootprintCard","MineNewBEntranceCardV4","MineNewBEntranceCardV3"][])))
# 首页地图图层推广
^https:\/\/m5\.amap\.com\/ws\/faas\/amap-navigation\/main-page-aiqs url jsonjq-response-body .data.mapBizList |= map(select(IN(.dataKey; "UserAssetsVirtualCard", "FootPrintNewCityDialog", "PoiRecommendVirtualCard", "PersonalRecommendVirtualCard") | not))
# 打车页面图标菜单
^https:\/\/m5-zb\.amap\.com\/ws\/boss\/car\/order\/content_info url jsonjq-response-body .data.lubanData.kingToolBox.dataList |= map(select(.biz.id == (["dache_toolbox_taxi_overseas_channel","dache_toolbox_hitch", "dache_toolbox_GDIntercity", "dache_toolbox_chauffeur"][])))

hostname = m5.amap.com,amap-aos-info-nogw.amap.com,m5-zb.amap.com
