#!name = 滴滴出行
#!desc = 给你一个干净的坐车体验
#!author = 树先生

host, adtrack.xiaojukeji.com, reject
ip-cidr, 139.199.244.6/32, reject
ip-cidr, 139.199.244.7/32, reject
ip-cidr, 120.234.72.27/32, reject
ip-cidr, 157.255.76.17/32, reject
ip-cidr, 157.122.213.3/32, reject
ip-cidr, 157.255.76.19/32, reject
ip-cidr, 120.241.143.6/32, reject
ip-cidr, 120.241.143.9/32, reject
ip-cidr, 120.241.143.11/32, reject
ip-cidr, 120.241.143.12/32, reject
ip-cidr, 120.241.142.12/32, reject
ip-cidr, 120.241.142.13/32, reject
ip-cidr, 120.241.142.18/32, reject
ip-cidr, 120.241.142.19/32, reject
ip-cidr, 120.241.143.18/32, reject
ip-cidr, 120.241.143.19/32, reject
ip-cidr, 120.241.143.131/32, reject
ip-cidr, 120.241.143.129/32, reject
ip-cidr, 116.85.2.15/32, reject
ip-cidr, 116.85.1.22/32, reject
ip-cidr, 116.85.1.17/32, reject
ip-cidr, 113.46.225.9/32, reject
ip-cidr, 113.46.225.8/32, reject
ip-cidr, 116.85.3.25/32, reject
ip-cidr, 116.85.3.37/32, reject
ip-cidr, 123.207.209.60/32, reject
ip-cidr, 123.207.209.39/32, reject

# 首页底部重逢福利推广
^https:\/\/conf\.diditaxi\.com\.cn\/homepage\/v1\/other\/slow url reject-dict
# 订单详情页底部推广
^https:\/\/ct\.xiaojukeji\.com\/agent\/v3\/feeds url reject-dict
# 首页底部各种推广图
^https:\/\/conf\.diditaxi\.com\.cn\/homepage\/v1\/other\/fast url reject-dict
# 首页地图右下角，订单详情页右上角悬浮广告图标
^https:\/\/res\.xiaojukeji\.com\/resapi\/activity\/mget url reject-dict
# 订单详情页底部推广调研反馈
^https:\/\/res\.xiaojukeji\.com\/resapi\/activity\/getInsActivityV2 url reject-dict
# 订单页面右上角地址分享图标
^https:\/\/api\.udache\.com\/gulfstream\/pandora\/v1\/invitation\/shareAddress\/pGetShareAddressPage url reject-dict
# 我的页面底部菜单及推广
^https:\/\/common\.diditaxi\.com\.cn\/common\/v5\/usercenter\/layout url jsonjq-response-body del(.data.instances.center_marketing_card, .data.instances.center_tool_card, .data.instances.center_widget_list, .data.instances.center_res_light_guide) | .data.instances.center_wallet_finance_card.data.view_info |= map(select(.title == "优惠卡券"))
# 首页菜单图标和底部栏
^https:\/\/conf\.diditaxi\.com\.cn\/homepage\/v1\/core\? url jsonjq-response-body .data.disorder_cards.bottom_nav_list.data |= [.[] | select(.id == "home_page" or .id == "user_center")] | .data.order_cards.nav_list_card.data |= [.[] | select(.nav_id == "bike" or .nav_id == "driverservice" or .nav_id == "carmate")]
# 订单进行页面各种推广
^https:\/\/api\.udache\.com\/gulfstream\/passenger-center\/v2\/other\/pInTripLayout url jsonjq-response-body .data.order_components |= map(select((.name != "passenger_common_casper") and (.name != "xp-card")))
^https:\/\/api\.udache\.com\/gulfstream\/passenger-center\/v2\/bronze\/pEndTripPaidLayout url jsonjq-response-body .data.layout.order -=  ["finish-evaluate-01","question-end-card_finish_1","evaluate-card_finish_1","xp-card-swiper-banner_finish_1","package-pay-card_finish_1", "xp-vip-level_finish_1"]

hostname = 123.207.209.*, 116.85.2.14, 116.85.2.40, 116.85.2.41, 113.46.225.4, 113.46.225.5, 113.46.225.2, 113.46.225.3, ct.xiaojukeji.com, conf.diditaxi.com.cn, api.udache.com, common.diditaxi.com.cn, res.xiaojukeji.com
