#!name = 豆瓣
#!desc = 仅去除开屏广告
#!author = 树先生、奶思

^https:\/\/storage\.360buyimg\.com\/material-video\/video\/[a-f0-9]{32}\.mp4$ url reject-dict
^https:\/\/img\d+\.360buyimg\.com\/pop\/jfs\/t\d+\/\d+\/\d+\/\d+\/\d+\/[A-Za-z0-9]{10,40}\/[A-Za-z0-9]{10,40}\.jpg$ url reject-dict
^https:\/\/api\.douban\.com\/v2\/app_ads url reject-dict

hostname = *.360buyimg.com, api.douban.com
