#!name = 京东
#!desc = 开屏广告
#!author = 树先生

^https?:\/\/m\.360buyimg\.com\/mobilecms\/s1125x2436_jfs url reject-200
^https?:\/\/m\.360buyimg\.com\/mobilecms\/jfs\/t1\/\d+\/\d+\/\d+\/\d+\/[a-zA-Z0-9]+\/[a-zA-Z0-9]+\.jpg$ url reject-200

hostname = m.360buyimg.com