#!name = 乐橙
#!desc = 移除开屏广告
#!author = 树先生

host-suffix, ubixioe.com, reject
host, s.tuia.cn, reject
host, ssp.iytcdn.com, reject
host-suffix, 1rtb.net, reject
host, acg.youku.com, reject
host, mpcfg.fancydsp.com, reject
host-suffix, zhangyuyidong.cn, reject
host-suffix, 1rtb.com, reject
host-suffix, adx.adwangmai.com, reject
host, dsp-x.jd.com, reject
host, dspvideo.umeng.com, reject

^https:\/\/dl-(?:ct|cm)-hz\.imou\.com(:443)?\/lechange\/saas\/advertisement\/ url reject-dict
^https:\/\/img1\.360buyimg\.com\/pop\/jfs\/t1 LCIphoneAdhocIP* url-and-header reject-dict

hostname = img1.360buyimg.com, dl-ct-hz.imou.com
