#!name = 雷速体育
#!desc = 移除开屏和评论区广告
#!author = 树先生
#!date = 2026-08-20

host, api-ad.chuangyuejoy.com, reject
host, dsp-tos.mongac.com, reject
host, et.tanx.com, reject
host-suffix, ubixioe.com, reject
host, v.adintl.cn, reject
host-suffix, shunchangzhixing.com, reject
host, ad-api.adn-plus.com.cn, reject
host, res1.hubcloud.com.cn, reject
host-suffix, zhangyuyidong.cn, reject
host, sdk.1rtb.net, reject
host, opehs.tanx.com, reject
host, dsp.1rtb.com, reject
host, dsp.ads.umeng.com, reject
host, analytics.oceanengine.com, reject
host, sdk-config.tanx.com, reject
host, adsmartget.datads.cn, reject
host, api-access.pangolin-sdk-toutiao-b.com, reject
host, api-access.pangolin-sdk-toutiao.com, reject
host-suffix, anythinktech.com, reject
host, tnc3-alisc1.zijieapi.com, reject
host, v2mi.gdt.qq.com, reject
host-suffix, pglstatp-toutiao.com, reject
host, pgdt.ugdtimg.com, reject

^https:\/\/s3plus\.meituan\.net\/ leisu* url-and-header reject-dict
^https:\/\/img1\.360buyimg\.com\/pop\/jfs\/t1 leisu* url-and-header reject-dict

^https:\/\/app-gateway\.leisuapi\.com\/v1\/app\/mobile\/ads url reject-dict

hostname = s3plus.meituan.net, img1.360buyimg.com, app-gateway.leisuapi.com
