#!name = 天天跳绳
#!author = 树先生
#!desc = 移除广告

^https:\/\/api\.tiantiantiaosheng\.com\/api2\/abtest\/ads_v2 url reject-dict
^https:\/\/api\.tiantiantiaosheng\.com\/api2\/ad_sys\/fetch url reject-dict
^https:\/\/api\.tiantiantiaosheng\.com\/api2\/popup\/list url reject-dict

hostname = api.tiantiantiaosheng.com
