#!name = Youtube
#!author = Maasea
#!desc = 移除广告

^https:\/\/rr[\w-]+\.googlevideo\.com\/initplayback\? url reject-dict
#^https?:\/\/[\w-]+\.googlevideo\.com\/initplayback.+&oad url reject-dict
#^https?:\/\/[\w-]+\.googlevideo\.com\/initplayback.+&ack.* url script-request-body https://raw.githubusercontent.com/Maasea/sgmodule/master/Script/Youtube/youtube.request.js

#^https:\/\/youtubei\.googleapis\.com\/youtubei\/v1\/(browse|next|player|search|reel\/reel_watch_sequence|guide|account\/get_setting|get_watch) url script-response-body https://github.com/Maasea/sgmodule/raw/refs/heads/master/Script/Youtube/youtube.response.js
//  信息流
^https:\/\/youtubei\.googleapis\.com\/youtubei\/v1\/browse url script-response-body https://github.com/Maasea/sgmodule/raw/refs/heads/master/Script/Youtube/youtube.response.js
//  搜索页结果
^https:\/\/youtubei\.googleapis\.com\/youtubei\/v1\/search url script-response-body https://github.com/Maasea/sgmodule/raw/refs/heads/master/Script/Youtube/youtube.response.js
//  首页顶部导航菜单，会误杀
#^https:\/\/youtubei\.googleapis\.com\/youtubei\/v1\/guide url script-response-body https://github.com/Maasea/sgmodule/raw/refs/heads/master/Script/Youtube/youtube.response.js
//  获取配置
^https:\/\/youtubei\.googleapis\.com\/youtubei\/v1\/account\/get_setting url script-response-body https://github.com/Maasea/sgmodule/raw/refs/heads/master/Script/Youtube/youtube.response.js
//  播放页
^https:\/\/youtubei\.googleapis\.com\/youtubei\/v1\/get_watch url script-response-body https://github.com/Maasea/sgmodule/raw/refs/heads/master/Script/Youtube/youtube.response.js
^https:\/\/youtubei\.googleapis\.com\/youtubei\/v1\/next url script-response-body https://github.com/Maasea/sgmodule/raw/refs/heads/master/Script/Youtube/youtube.response.js
//  短视频
^https:\/\/youtubei\.googleapis\.com\/youtubei\/v1\/player\? url script-response-body https://github.com/Maasea/sgmodule/raw/refs/heads/master/Script/Youtube/youtube.response.js
^https:\/\/youtubei\.googleapis\.com\/youtubei\/v1\/reel\/reel_watch_sequence url script-response-body https://github.com/Maasea/sgmodule/raw/refs/heads/master/Script/Youtube/youtube.response.js

hostname = *.googlevideo.com, youtubei.googleapis.com
